<%- include('../partials/header') %>
<main class="container">
  <h1><%= title %></h1>
  <p>Please answer the question below to gain club member status.</p>
  <% if (locals.errors) { %>
    <ul class="error-list">
      <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>
  <%- include('../partials/joinClubForm') %>
  <p>Don't feel like joining? <a href="/">Back to home</a>.</p>
</main>
<%- include('../partials/footer') %>